{% set catlist = taxonomy.taxonomy["category"]|keys %}
{% set blist = [] %}
{% if config.themes['knowledge-base'].params.articles.blacklist is defined %}
    {% set blist = config.themes['knowledge-base'].params.articles.blacklist %}
    {% set tmplst = [] %}
    {% for cat in catlist %}
        {% if cat not in blist %}
            {% set tmplst = tmplst|merge([cat]) %}
        {% endif %}
    {% endfor %}
    {% set catlist = tmplst %}
{% endif %}

{% set homeroute = '/home' %}
{% if config.themes['knowledge-base'].params.articleroot is defined %}
    {% set homeroute = config.themes['knowledge-base'].params.articleroot %}
{% endif %}
{% if config.themes['knowledge-base'].params.articles.root is defined %}
    {% set homeroute = config.themes['knowledge-base'].params.articles.root %}
{% endif %}

{% if config.themes['knowledge-base'].params.sidebar.show.categories %}
<div>
    <h1><span>{{ 'CATEGORIES'|t }}</span></h1>
    <ul style="padding-left: 1rem">
    {% for cat in catlist|sort %}
    	<li><a href="{{ base_url }}/taxonomy?name=category&amp;val={{ cat|url_encode }}">{{ cat }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% set maxcount = 5 %}
{% if config.themes['knowledge-base'].params.sidebar.maxentries is defined %}
    {% set maxcount = config.themes['knowledge-base'].params.sidebar.maxentries %}
{% endif %}

{% if config.themes['knowledge-base'].params.sidebar.show.popular %}
<div class="topiclist">
	{% set counts = config.plugins['count-views'].counts|sort|reverse %}
	{% set popular = [] %}
	{% for route,views in counts %}
		{% if route starts with homeroute %}
            {% set thispage = page.find(route) %}
            {% if thispage is not null %}
			    {% set popular = popular|merge([thispage]) %}
            {% endif %}
		{% endif %}
	{% endfor %}
    {% set tmplst = [] %}
    {% for page in popular %}
        {% set blisted = false %}
        {% for bcat in blist %}
            {% if bcat in page.taxonomy["category"] %}
                {% set blisted = true %}
            {% endif %}
        {% endfor %}
        {% if not blisted %}
            {% set tmplst = tmplst|merge([page]) %}
        {% endif %}
    {% endfor %}
    {% set popular = tmplst %}
	<h1><span>{{ 'POPULAR_ARTICLES'|t }}</span></h1>
    {% include 'partials/topiclist.html.twig' with {'articles': popular, 'maxcount': maxcount} %}
</div>
{% endif %}

{% if config.themes['knowledge-base'].params.sidebar.show.latest %}
<div class="topiclist">
	<h1><span>{{ 'LATEST_ARTICLES'|t }}</span></h1>
    {% set articles = page.find(homeroute).children.order('date', 'desc') %}
    {% set tmplst = [] %}
    {% for page in articles %}
        {% set blisted = false %}
        {% for bcat in blist %}
            {% if bcat in page.taxonomy["category"] %}
                {% set blisted = true %}
            {% endif %}
        {% endfor %}
        {% if not blisted %}
            {% set tmplst = tmplst|merge([page]) %}
        {% endif %}
    {% endfor %}
    {% set articles = tmplst|slice(0,maxcount) %}
    {% include 'partials/topiclist.html.twig' with {'articles': articles, 'maxcount': maxcount} %}
</div>
{% endif %}
